 @font-face {
     font-family: Chonburi;
     src: url('../fonts/Chonburi-Regular.ttf');
 }
 @font-face {
    font-family: Changa One;
    src: url('../fonts/ChangaOne-Regular.ttf');
 }
 @font-face {
     font-family: Roboto;
     src: url('../fonts/Roboto-Regular.ttf');
 }
 body {
     box-sizing: border-box;
     padding: 0;
     margin:0;
     font-family: Roboto;
     font-size: 0.9em;
     background-color: rgb(116 214 128 / 61%);
 }

header{
    padding: 5px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    background-color: rgb(173, 228, 238);
}
.logo{
    height:120px;
    border-radius: 5px;
    border: 1px solid white
}
.logo img{
    width:120px;
    height:120px;
}
#weather{
    flex: 0 1 auto;
    width:25%;
    padding:0;
    margin:0;
}
#select-temperature {
    width: 71%;
    margin: 0;
}
#place{
    margin:0;
    padding:4px;
    width:75%;
    height:25px;
    border-width: 3px;
    font-size: 1.1em;
}

#place, #weather fieldset{
        border-width: 3px;
        border-style: solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
            to left,
            rgba(114, 57, 213,0.6),
            rgb(213, 57, 156, 0.6)
        );
        border-radius: 5px;
}

#submit {
    position: relative;
    padding:0;
    right: 37px;
    top: 10px;
    border: none;
    background: none;
    width:30px;
    height:30px;
}

#submit img{
    width: 30px;
    height: 30px;
}
@keyframes appear{
    0% {
        opacity: 0;
        box-shadow: none;
    }
    100% {
        opacity: 1;
    }
}
.show {
    animation-name: appear;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#currentPlace{
    width: 65%;
    font-size: 2em;
    font-family: Chonburi;
    background-color: rgba(114, 57, 213, 0.6);
    background-image: linear-gradient(to left,
            rgba(114, 57, 213, 0.6),
            rgb(213, 57, 156, 0.6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .dates {
     box-sizing: border-box;
     height: 140px;
     width: 75%;
     margin:auto;
     display: flex;
     align-items: flex-end;
     justify-content: flex-start;
 }

 .dates div {
     height:100%;
     width: 77px;
     margin-right: 0px;
     text-align: center;
     position: relative;
     z-index: 3;
     border: 1px solid grey;
     top: 1px;
     border-radius: 6px 6px 0 0;
 }

 .dates div.activeDate {
     border-bottom: 2px solid rgb(218 220 227);;
 }

 .dates div a {
     display:block;
     text-decoration: none;
     height: 100%;
     width: 100%;
     color: black;
 }

 .weather-info,
 .dates div {
     background-color: rgb(218 220 227);
 }

 .weather-info {
     box-sizing: border-box;
     height: 300px;
     width: 75%;
     margin:auto;
     border-radius: 0px 6px 6px 6px;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     position: relative;
     z-index: 1;
     border: 1px solid grey;
 }

 .lBlock {
     margin: 2px 15px 0 5px;
     width: 120px;
 }

 .infoDate {
     margin: 3px;
     height: 50px;
     font-size: 1.3em;
     font-weight: bolder;
     text-align: center;
     position: relative;
     left:120%;
     width:80%;
     font-family: Chonburi;
     font-size: 0.9em;
     color:rgb(54, 59, 117);
     box-shadow: 2px 2px 6px rgba(54, 59, 117, 0.7);
 }

 .infoDate p,
 .curWeather p {
     margin: 0;
     font-size: 0.8em;
 }

 .curWeather {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     box-shadow: 0 0 9px rgb(120 120 120);
     padding:5px;
     border-radius: 5px;
 }

 table {
     border-collapse: collapse;
     margin-top: 5px;
 }

 tr {
     height: 20px;
 }

 td {
     border-right: 1px solid #c7bdbd;
     border-left: 1px solid #c7bdbd;
     width: 75px;
     text-align: center;
 }

 tr.higher {
     height:38px;
 }

 tr.grey{
     background-color: #bbb0b0;
 }

 .titles {
     padding-top: 117px;
     width:160px;
 }

 .titles p {
     box-sizing: border-box;
     height: 20px;
     padding: 2px;
     margin: 0;
 }

@keyframes spinner {
    100%{
        transform: rotate(3600deg);
    }
}

.loader{
    margin:0 auto;
    text-align: center;
    position: relative;
    top: 30vh;
    transform: translateY(-50%);
    display: none;
}

.spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../icons/icons8-spinner.png') no-repeat center center;
    animation-name: spinner;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.load-text {
    position: relative;
    z-index: 1;
}

.fontBlue{
    color:rgb(9, 59, 105);
}

.fontRed{
    color: rgb(158, 38, 38);
}